node_modules
coverage
build
dist
test/temp
.sass-cache
app/bower_components
.tmp
test/bower_components/
bower_components
*.swp
test/reports
/reports
target
.DS_Store
.grunt
.project
_SpecRunner.html
SpecRunner.html
SpecRunner.js
scripts/npm-debug.log
app/scripts/npm-debug.log
app/scripts/vendor/npm-debug.log
app/scripts/modules/npm-debug.log
app/scripts/models/npm-debug.log
app/scripts/views/npm-debug.log
app/scripts/collections/npm-debug.log
app/css/npm-debug.log
app/images/npm-debug.log
app/fonts/npm-debug.log
test/npm-debug.log
test/scripts/npm-debug.log
test/scripts/models/npm-debug.log
test/scripts/modules/npm-debug.log
test/scripts/views/npm-debug.log
test/scripts/collections/npm-debug.log
test/css/npm-debug.log
*.css.map
/**.DS_Store
app/styles/styles.css
app/scripts/templates*.js
app/styles/styles.css.map
app/styles/dcr.css
.idea/
app/scripts/backend.url.config.js
*.log
npm-debug.log*
npm_debug.log*
